<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<!-- General -->
	<category label="General">
		<setting label="Flo Light uses its own settings window." type="text" enable="false" />
		<setting label="Open Flo Light Settings..." type="action" option="close" action="RunPlugin(plugin://plugin.video.flolight/?mode=open_settings)" />
	</category>
</settings>
